# set files or folders to ignore in the git repository

# ignore node modules folder
node_modules

# ignore build folder
build

# ignore dev folder
dev

# ignore normal Textfiles
*.txt

# ignore Logfiles
*.log

# ignore IDE Files
.idea

# ignore Temp
.tmp